<div class="wrapper">
  <div class="image-container"></div>
  <div class="biography-container">
    <p>Who I am</p>
    <div class="About-me-container">
      <h1>About Me</h1>
      <p class="bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum omnis culpa veritatis illo
        voluptates, necessitatibus rerum neque architecto asperiores. Soluta aperiam, ipsa
        laboriosam quisquam alias quos corporis numquam corrupti recusandae.
      </p>
      <div class="detail-text-container">
        <div class="topic-icon">icn</div>
        <p class="topic-text">asdasdadsasdasdasdasdasd</p>
      </div>
      <div class="detail-text-container">
        <div class="topic-icon">icn</div>
        <p class="topic-text">asdasdadsasdasdasdasdasd</p>
      </div>
      <div class="detail-text-container">
        <div class="topic-icon">icn</div>
        <p class="topic-text">asdasdadsasdasdasdasdasd</p>
      </div>
    </div>
  </div>
</div>
