<div class="wrapper">
  <div class="biography-container">
    <p class="bio-label">Technologies</p>
    <div class="About-me-container">
      <h1>Skill Set</h1>
      <p class="bio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum omnis culpa veritatis illo
        voluptates, necessitatibus rerum neque architecto asperiores. Soluta aperiam, ipsa
        laboriosam quisquam alias quos corporis numquam corrupti recusandae.
      </p>
      <h3>You need <span class="main-color">another skill?</span></h3>
      <p>Feel free to contact me. I look forward to <br />expanding on my previous knowledge.</p>
      <button>Let's Talk</button>
    </div>
  </div>
  <div class="item-container">
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/html.svg" />
      <p class="topic-text">HTML</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/css.svg" />
      <p class="topic-text">CSS</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/javaScript.svg" />
      <p class="topic-text">JavaScript</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/materialDesign.svg" />
      <p class="topic-text">Material <br />Design</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/typescript.svg" />
      <p class="topic-text">TypeScript</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/Angular.svg" />
      <p class="topic-text">Angular</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/supabase.svg" />
      <p class="topic-text">Supabase</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/git.svg" />
      <p class="topic-text">Git</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/restApi.svg" />
      <p class="topic-text">REST-API</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/scrum.svg" />
      <p class="topic-text">Scrum</p>
    </div>
    <div class="item">
      <img class="topic-icon" src="/assets/images/skills/frontend/growthMindset.svg" />
      <p class="topic-text">Growth <br />mindset</p>
    </div>
    <div class="item"></div>
  </div>
</div>
