<div class="landing">
  <div class="wrapper">
    <h2>Frontend Developer</h2>
    <h1>Ron Ellrich</h1>
    <div class="btn-container">
      <button class="sub-name-btn">Check my work</button
      ><button class="sub-name-btn">Contact Me</button>
    </div>
  </div>
  <div class="go-down-line">
    <button class="go-down-button">-></button>
    <hr />
  </div>
  <div class="socials">
    <hr />
    <a href="#" class="social-link linkedin"></a>
    <a href="#" class="social-link github"></a>
    <a href="mailto:name@example.com">dataletra@gmail.com</a>
  </div>
</div>
<app-text-marquee></app-text-marquee>
