@use "../../../../public/assets/abstract/variables.scss" as varia;

.wrapper {
    //Debug
    // border: solid red 1px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100dvh - 100px); //100px is header height
    width: 100%;
    background: #08463b;
    background: linear-gradient(231deg, rgba(8, 70, 59, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}
h2 {
    font-weight: 300;
    margin: 0;
    margin-top: 100px;
}
h1 {
    font-weight: 600;
    font-size: 76px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}
button {
    border-radius: 28px;
    background-color: #08463b00;
    border: 2px solid varia.$main-color;
    color: white;
}
.socials {
    position: absolute;
    height: 20px;
    width: 250px;
    // background-color: rgb(222, 200, 243);
    right: -80px;
    bottom: 120px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 5px;
    a {
        text-decoration: none;
    }
    align-items: center;
}
.go-down-line {
    position: absolute;
    height: 20px;
    width: 150px;
    // background-color: rgb(222, 200, 243);
    left: -30px;
    bottom: 65px;
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 5px;
    a {
        text-decoration: none;
    }
    align-items: center;
}
hr {
    flex: 1;
    border: none;
    border-top: 1px solid white;
    margin: 0;
}
app-text-marquee {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);

    width: 100vw;
    overflow: hidden;
    z-index: 10;
}
