<div class="wrapper" id="scroll-contact-me">
  <div class="left">
    <p><span class="main-color">Contact me</span></p>
    <h1><span class="main-color">Let's work together</span></h1>
    <h3>Got a problem to solve?</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sint magni quibusdam quam
      architecto nemo! Dolores quas dicta nostrum odio!
    </p>
    <p>Need a Frontend developer? <span class="main-color">Let's talk!</span></p>
  </div>
  <div class="right">
    <form [formGroup]="contactform" (ngSubmit)="onSubmit()">
      <div class="contact-item-first">
        <h3>What's your name?</h3>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Your name goes here"
          (input)="resetTouchedOnInput('name')"
        />
        @if (!name?.valid && name?.touched) {
          <span class="error-msg">{{ nameError }}</span>
        }
      </div>
      <div class="contact-item">
        <h3>What's your email?</h3>
        <input
          id="email"
          type="text"
          formControlName="email"
          placeholder="youremail@email.com"
          (input)="resetTouchedOnInput('email')"
        />
        @if (!email?.valid && email?.touched) {
          <span class="error-msg">{{ emailError }}</span>
        }
      </div>
      <div class="contact-item-last">
        <h3>How can I help you?</h3>
        <input
          id="message"
          type="text"
          formControlName="message"
          placeholder="Hello Data, I am interested in..."
          (input)="resetTouchedOnInput('message')"
        />
        @if (!message?.valid && message?.touched) {
          <span class="error-msg">{{ messageError }}</span>
        }
      </div>
      <div class="checkbox-container">
        <input formControlName="policy" type="checkbox" class="checkbox-privacy-policy" />
        <p>
          I've read the <a href="/angular-projects/portfolio/privacy-policy">privacy policy</a> and
          agree to the processing of my data as outlined
        </p>
      </div>
      <button type="submit" [disabled]="!contactform.valid">Say Hello ;)</button>
    </form>
  </div>
</div>
