<div class="wrapper">
  <div class="featured-projects-container">
    <p class="label">Portfolio</p>
    <h1>Featured Projects</h1>
    <p class="description-label">
      Explore a selection of my work here - interact with <br />
      my projects to see my skills in action.
    </p>
    <div class="project-container">
      <div class="project-itemfirst">
        <h3>Join</h3>
        <p>
          Angular <span class="main-color">|</span> TypeScript
          <span class="main-color">|</span> HTML <span class="main-color">|</span> CSS
          <span class="main-color">|</span> Firebase
        </p>
      </div>
      <div class="project-item">
        <h3>El Pollo Loco</h3>
        <p>
          HTML <span class="main-color">|</span> CSS <span class="main-color">|</span> JavaScript
        </p>
      </div>
      <div class="project-itemlast">
        <h3>SpotOn</h3>
        <p>
          .NET <span class="main-color">|</span> C# <span class="main-color">|</span> WPF
          <span class="main-color">|</span> XAML <span class="main-color">|</span> MySQL
          <span class="main-color">|</span> LiveCharts
        </p>
      </div>
    </div>
  </div>
</div>
