@use "../../../../public/assets/abstract/variables.scss" as varia;

.wrapper {
    padding-top: 150px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    background-color: #1c1c1c;
    box-sizing: border-box;
    padding-inline: calc((100% - 1440px) / 2);
    @media (max-width: 1440px) {
        padding-inline: 1.5rem;
    }
    padding-bottom: 200px;
}

.description-label {
    color: white;
}

.featured-projects-container {
    width: 100%;
    .label {
        color: varia.$main-color;
        font-size: 24px;
    }
    h1 {
        color: varia.$main-color;
    }
}

.project-container {
    height: fit-content;
    max-width: 60%;
    color: white;
}

%project-row-base {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: 0.5s ease;

    &:hover {
        background-color: #1f2e2b;
        transition: 0.5s ease;
        .project-item-picture {
            opacity: 1;
            visibility: visible;
        }
    }
}

.project-item {
    @extend %project-row-base;
    border-top: 1px solid varia.$main-color;
    border-bottom: 1px solid varia.$main-color;

    &first {
        @extend %project-row-base;
        border-top: 1px solid varia.$main-color;
    }

    &last {
        @extend %project-row-base;
        border-bottom: 1px solid varia.$main-color;
    }
}

.project-skills {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.project-item-picture {
    position: absolute;
    right: -450px;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    height: 200px;
    overflow: hidden;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s ease,
        visibility 0.5s ease;

    img {
        border-radius: 28px;
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .project-item-picture-background {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: -1;
        transform: scaleY(-1);
    }
}
