// ========================================================
// GLOBAL STYLES (src/styles.scss)
// ========================================================
@use "../public/assets/styles/all_styles.scss" as all;

* {
  position: relative;
  font-family: "Fira Code", monospace;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
  background: #08463b;
  background: linear-gradient(231deg, rgba(8, 70, 59, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

// Root wrapper enforces sticky footer flex column
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Sticky Header always at the top
app-header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

// App core wrapper flexes to push footer down & applies content boundary
app-core {
  flex: 1 0 auto;
  display: block;
  // top: -100px;
  width: 100%;
  box-sizing: border-box;
}

// Core inner components MUST be display block!
app-landing,
app-about-me {
  display: block;
  width: 100%;
}

app-footer {
  flex-shrink: 0;
  display: block;
  width: 100%;
}

.main-color {
  color: all.$main-color;
}

.forward-arrow {
  transform: rotate(-45deg) scale(0.8);
}
